<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="styles-orderpage.css">
    <!-- font-text CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Squada+One&display=swap" rel="stylesheet">
    <title>Food Ordering Website Design</title>
    <style>
        @font-face {
            font-family: 'SF Pro Text';
            src: url("font/SFProText/SF-Pro-Text-Thin.otf") format('opentype');
        }

        @font-face {
            font-family: 'Gilroy-Medium';
            src: url("font/FontGilroyVHFull/SVN-Gilroy\ Medium.otf") format('opentype');
        }
    </style>
    <script>
        /*** REGION 1 - Global variables - Vùng khai báo biến, hằng số, tham số TOÀN CỤC */
        var gBASE_URL = "https://food-ordering-fvo9.onrender.com/api";

        /*** REGION 2 - Vùng gán / thực thi sự kiện cho các elements */
        $(document).ready(function () {
            // Sự kiện tải trang
            onPageLoading();
            // Sự kiện add-to-cart khi click + pizza cards
            $('.add-to-cart').on('click', function (event) {
                event.preventDefault();
                var vPizzaCard = $(this).closest('.product-card');
                var vProductId = vPizzaCard.data('id');
                var vProductName = vPizzaCard.find('h5').text(); // lấy tên pizza
                var vProductImage = vPizzaCard.find('img').attr('src'); // Lấy src của ảnh
                var vProductPrice = vPizzaCard.find('.pizza-price').text(); // Lấy giá, giả sử có class .price
                addToCart(vProductId, vProductName, vProductImage, vProductPrice);
            });
            // Sự kiện khi ấn vào cart icon sẽ chuyển sang giỏ hàng của bạn
            $('#go-to-cart-page-click').on('click', function () {
                window.location.href = 'cartOrderingPage.html';
            });
        });

        /*** REGION 3 - Event handlers - Vùng khai báo các hàm xử lý sự kiện */
        // Hàm xử lý tải trang load thông tin pizza card và blog card ra wed
        function onPageLoading() {
            // gọi hàm loading ds đồ uống
            callApiAjaxToLoadPizzaListToWeb();
            callApiAjaxToLoadBlogCardToWeb();
            // goi hàm cập nhật giỏ hàng khi tải trang
            updateCartDisplayAfterReload()
        }
        // Hàm cập nhật lại giỏ hàng khi tải lại trang
        function updateCartDisplayAfterReload() {
            var vCartData = getCartFromLocalStorage();
            updateCartDisplay(vCartData);
        }

        /*** REGION 4 - Common funtions - Vùng khai báo hàm dùng chung trong toàn bộ chương trình*/
        // hàm call Ajax api và load pizza list to web
        function callApiAjaxToLoadPizzaListToWeb() {
            $.ajax({
                url: gBASE_URL + "/foods",
                type: "GET",
                dataType: 'json',
                success: function (paramPizzaListObj) {
                    // Api cho ra kd đối tượng {{},{}...} cần chuyển đổi đối tượng thành mảng các đối tượng
                    var vPizzaArrayObj = Object.values(paramPizzaListObj);
                    // mảng tạo ra có 2 phần tử [0,1], chỉ lấy phần tử 1 
                    console.log(vPizzaArrayObj[1]);
                    loadPizzaListToWeb(vPizzaArrayObj[1]);
                },
                error: function (paramPizzaListObj) {
                    console.log(paramPizzaListObj.status);
                }
            }
            );
        }
        // hàm load thông tin pizza list vào web giao diện
        function loadPizzaListToWeb(paramPizzaListObj) {
            for (let bI = 0; bI < paramPizzaListObj.length; bI++) {
                var bPizzaListObj = paramPizzaListObj[bI];
                $(".product-card.card-img-top").eq(bI).attr("src", bPizzaListObj.imageUrl);
                $(".card-title h5").eq(bI).text(bPizzaListObj.name);
                $(".card-title i").eq(bI).text(bPizzaListObj.price);
                $(".span-star-47 span").eq(bI).text(bPizzaListObj.rating); // Assuming rating is a number
                $(".min-50-79").eq(bI).text(paramPizzaListObj[bI].time);
            }

        }
        // hàm call Ajax api và load blog card to web
        function callApiAjaxToLoadBlogCardToWeb() {
            $.ajax({
                url: gBASE_URL + "/blogs",
                type: "GET",
                dataType: 'json',
                success: function (paramBlogCardObj) {
                    console.log(paramBlogCardObj);
                    loadBlogCardToWeb(paramBlogCardObj);
                },
                error: function (paramBlogCardObj) {
                    console.log(paramBlogCardObj.status);
                }
            }
            );
        }
        // hàm load thông tin blog cards vào web giao diện
        function loadBlogCardToWeb(paramBlogCardObj) {
            for (let bI = 0; bI < paramBlogCardObj.length; bI++) {
                var bBlogCardObj = paramBlogCardObj[bI];
                $(".img-blog").eq(bI).attr("src", bBlogCardObj.imageUrl);
                $(".title-blog").eq(bI).text(bBlogCardObj.title);
                $(".card-text").eq(bI).text(bBlogCardObj.description);
            }

        }
        // Hàm add to cart
        function addToCart(paramProductId, paramPoductName, paramProductImage, paramProductPrice) {
            var vCart = getCartFromLocalStorage();
            var vfoundProduct = vCart.find(item => item.id === paramProductId);
            if (vfoundProduct) {
                vfoundProduct.quantity++;
            } else {
                vCart.push({
                    id: paramProductId,
                    name: paramPoductName,
                    image: paramProductImage, // Thêm ảnh vào đối tượng
                    price: paramProductPrice, // Thêm giá vào đối tượng
                    quantity: 1
                });
            }

            saveCartToLocalStorage(vCart);
            updateCartDisplay(vCart);
        }

        // Hàm lấy thông tin cart từ localstorage
        function getCartFromLocalStorage() {
            return JSON.parse(localStorage.getItem('cart')) || [];
        }

        // Lưu thông tin order vào localstorage
        function saveCartToLocalStorage(paramCart) {
            localStorage.setItem('cart', JSON.stringify(paramCart));
        }

        // Hàm cập nhật hiển thị giỏ hàng
        function updateCartDisplay(paramCart) {
            var vTotalQuantity = 0;
            $.each(paramCart, function (index, paramProduct) {
                vTotalQuantity += paramProduct.quantity;
            });

            $('#cart-quantity').text(vTotalQuantity);
            // change color giỏ hàng
            if (vTotalQuantity > 0) {
                $('.cart-icon').css('color', 'yellow');
            } else {
                $('.cart-icon').css('color', ''); // Reset to default color
            }
        }

    </script>
</head>

<body>
    <div class="container-fluid food-ordering-page">
        <!-- Navigation -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand col-3" href="#">WHAT2EAT</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Home</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Menu</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Blog</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                            <div class="navbar-nav ml-auto">
                                <button class="btn" style="border:none">
                                    <img src="images/search.png" alt="" width="22px" height="22px">
                                </button>
                                <button class="btn" style="border:none; color: white;">
                                    <i class="fas fa-shopping-bag fa-lg cart-icon" id="go-to-cart-page-click"></i>
                                    <span id="cart-quantity">0</span>
                                </button>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Hero-display-cooking-man -->
        <div class="container-fluid hero-display-cooking-man">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="container">
                        <h2>Authentic Home food in UK</h2>
                        <p>What2EAT is a courier service in which authentic home cook
                            <br>food is delived to a customer.
                        </p>
                        <div class="row input-group col-lg-10 col-md-6 col-sm-12">
                            <input type="text" class="form-control" placeholder="Search food you love">
                            <div class="input-group-append">
                                <button class="btn btn-warning" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="container">
                        <img src="images/cooking.man.header.png" alt="cookingman" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- Kitchen-section -->
        <div class="container-fluid kitchen-section">
            <!-- Filter -->
            <div class="filter-group">
                <h5>Home Kitchen</h5>
                <div class="btn-group group-button">
                    <button type="button">All</button>
                    <button type="button">Button</button>
                    <button type="button">Free delivery</button>
                    <button type="button">New</button>
                    <button type="button">Coming</button>
                </div>
                <div class="filter-list-button">
                    <div class="dropdown">
                        <span style="margin-right: 150px;">Filters</span>
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Home cards -->
            <div class="container-fluid" style="padding-bottom: 50px;">
                <div class="row">
                    <!-- Card 1 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="1">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_MqT0asuoIcU.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="2">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_UxRhrU8fPHQ.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="3">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_CbNAuxSZTFo.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="4">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_Y6OgisiGBjM.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px;margin-left: -30px; margin-right: -15px;">
                    <!-- Card 5 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="5">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_nP11TkjxJ7s.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 6 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="6">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_60nzTP7_hMQ.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 7 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="7">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_sejqj6Eaqe8.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 8 -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <!-- Card content -->
                        <div class="card product-card" data-id="8">
                            <div class="discount-badge">50%</div>
                            <img class="card-img-top" src="images/unsplash_33GPuoFI7v8.png" alt="Card image cap">
                            <div class="card-body" style="height: 90px;padding: 0px;">
                                <div class="card-detail">
                                    <div class="card-title">
                                        <h5 style="margin-right: 20px"></h5>
                                        <i class="fa-regular fa-dollar-sign fa-sm pizza-price"></i>&nbsp;
                                    </div>
                                    <div class="card-add">
                                        <div class="star-47-50-79">
                                            <span class="span-star-47">
                                                <img src="images/star-filled.png" alt="">
                                                <span></span>
                                            </span>
                                            <span class="min-50-79"></span>
                                        </div>
                                        <a href="#" class="btn add-to-cart"><img src="images/Card+.png" alt=""
                                                width="22px" height="20px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- load more button -->
                <div class="row">
                    <div class="loadnmore-btn" style="padding-top: 100px;padding-left: 500px;">
                        <button><span>+</span>Load more...</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog section -->
        <div class="container-fluid bog-section">
            <div class="row g-3">
                <!-- Large Screen -->
                <!-- Left Cards -->
                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Card 1 -->
                    <div class="card border-0">
                        <img class="card-img-top img-blog" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title title-blog"></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="card border-0">
                        <img class="card-img-top img-blog" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title title-blog"></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>

                <!-- Middle Card -->
                <div class="col-lg-6 col-md-8 col-12">
                    <!-- Card 3 -->
                    <div class="card border-0">
                        <img class="card-img-top img-blog" src="..." alt="Card image cap">
                        <div class="card-body text-truncate">
                            <h5 class="card-title title-blog"></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>

                <!-- Right Cards - Hidden on 'md' screens -->
                <div class="col-lg-3 d-lg-block d-md-none col-12">
                    <!-- Card 4 -->
                    <div class="card border-0">
                        <img class="card-img-top img-blog" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title title-blog"></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    <!-- Card 5 -->
                    <div class="card border-0">
                        <img class="card-img-top img-blog" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title title-blog"></h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <!-- For tablet -->
                <div class="row d-lg-none d-md-flex d-sm-none">
                    <!-- Right Cards -->
                    <div class="col-md-6">
                        <!-- Card 4 -->
                        <div class="card border-0">
                            <img class="card-img-top" src="images/unsplash_OlKCes2y1eA.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Most Satisfying Cake decorating
                                    Cake ideas </h5>
                                <p class="card-text">Quis hendrerit nibh mauris sed faucibus.
                                    Quis hendrerit nibh mauris sed faucibus.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Card 5 -->
                        <div class="card border-0">
                            <img class="card-img-top" src="images/unsplash_TclQHtlkzRc.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Most Satisfying Cake decorating
                                    Cake ideas </h5>
                                <p class="card-text">Quis hendrerit nibh mauris sed faucibus.
                                    Quis hendrerit nibh mauris sed faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact us-->
        <div class="container-fluid contact-us-section">
            <div class="contanier">
                <div class="row">
                    <!-- contact form-->
                    <div class="col-lg-6 col-md-12">
                        <div class="container contact-us-title">
                            <h5>Do you have a question
                                or want to become a seller?</h5>
                            <p>Fill this form and our manager will contact you next 48 hours.</p>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="username" placeholder="Your Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" class="form-control" id="email" placeholder="Your e-mail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="message" rows="3"
                                        placeholder="Your message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-warning">Send Request</button>
                            </form>
                        </div>
                    </div>
                    <!-- delivery man-->
                    <div class="col-lg-6 col-md-12">
                        <img src="images/Food_delivery_man_riding_motorcycles.png" class="img-fluid" alt="Delivery"
                            style="padding-left:40px">
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand col-3" href="#">WHAT2EAT</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Home</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Menu</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Blog</a>
                                </li>
                                <li class="nav-item ml-lg-3">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex">
                            <button style="border:none" class="btn">
                                <img src="images/Facebook.png" width="28px" height="26px">
                            </button>
                            <button style="border:none" class="btn">
                                <img src="images/iconoir_add-to-cart.png" width="28px" height="26px">
                            </button>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="copy-right col-12">
                <hr>
                <p>Copyright @2021 What2Eat </p>
            </div>
        </div>
    </div>
</body>

</html>