body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(140, 148, 155);
}
/* Vùng css main webpages */

.food-ordering-page {
    background: rgba(26, 192, 115, 1);
    padding-top: 20px;
    width: 1440px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

a.navbar-brand {
    font-family: Squada One;
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1) !important;
}

ul.navbar-nav a.nav-link {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1) !important;
}

.hero-display-cooking-man {
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 130px;
}

.hero-display-cooking-man h2 {
    /* width: 534px;
    height: 147px; */
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.hero-display-cooking-man p {
    /* width: 441px;
    height: 40px; */
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    margin-bottom: 40px;
}

div.input-group>input[type="text"] {
    height: 58px;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
}

div.input-group-append>button[type="button"] {
    height: 58px;
    width: 112px;
    padding: 19px, 29px, 19px, 29px;
    border-radius: 0px 10px 10px 0px;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

div.row input.form-control::placeholder {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    height: 20px;
}

.kitchen-section {
    background: rgba(247, 248, 250, 1);
    padding-top: 105px;
    padding-left: 100px;
}

.filter-group {
    width: 667px;
    height: 170px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.filter-group h5 {
    width: 155px;
    height: 24px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.group-button {
    width: 667px;
    height: 46px;
    padding: 0px, 4px, 0px, 0px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.btn-group.group-button button:nth-of-type(1) {
    width: 100px;
    height: 46px;
    padding: 13px, 40px, 13px, 40px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(243, 186, 0, 1);
    background: rgba(243, 186, 0, 1);
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.btn-group.group-button button:nth-of-type(2) {
    width: 130px;
    height: 46px;
    padding: 13px, 40px, 13px, 40px;
    border: 1px solid rgba(243, 186, 0, 1);
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(146, 146, 146, 1);
}

.btn-group.group-button button:nth-of-type(3) {
    width: 175px;
    height: 46px;
    padding: 13px, 40px, 13px, 40px;
    border: 1px solid rgba(243, 186, 0, 1);
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(146, 146, 146, 1);
}

.btn-group.group-button button:nth-of-type(4) {
    width: 114px;
    height: 46px;
    padding: 13px, 40px, 13px, 40px;
    border: 1px solid rgba(243, 186, 0, 1);
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(146, 146, 146, 1);
}

.btn-group.group-button button:nth-of-type(5) {
    width: 114px;
    height: 46px;
    padding: 13px, 40px, 13px, 40px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba(243, 186, 0, 1);
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(146, 146, 146, 1);
}

.filter-list-button {
    width: 251px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid rgba(146, 146, 146, 1);
    color: rgba(146, 146, 146, 1);
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.012em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

.discount-badge {
    position: absolute;
    background: rgba(243, 186, 0, 1);
    color: rgba(16, 17, 21, 1);
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 10px 0px 0px 0px;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
}

.product-card {
    /* width: 277px;
    height: 337px; */
    position: relative;
    /* margin-left: 20px; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(187, 187, 187, 0.25);
}

.card-detail {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.card-title {
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 252px; */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-items: center; */

}

.card-title h5 {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.012em;
    color: rgba(27, 28, 33, 1);
}


.card-add {
    /* width: 250px; */
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-47-50-79 {
    width: 122px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.span-star-47 {
    width: 46px;
    height: 20px;
    padding: 0px 4px 0px 4px;
    border-radius: 5px;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    background: rgb(235, 235, 241);
    display: flex;
    justify-content: center;
}

.min-50-79 {
    width: 68px;
    height: 20px;
    padding: 0px 4px 0px 4px;
    border-radius: 5px;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    background: rgb(235, 235, 241);
    display: flex;
    justify-content: center;
}

div.loadnmore-btn button {
    width: 172px;
    height: 46px;
    padding: 13px 40px 13px 19px;
    border-radius: 10px;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    border: 1px solid rgba(243, 186, 0, 1);
    display: flex;
    display: flex;
    justify-content: space-between;
    color: rgba(146, 146, 146, 1);
}

.bog-section {
    /* width: 1440px; */
    padding: 100px 129px 100px 129px;
    background: rgba(255, 255, 255, 1);
}

.card-body h5 {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(16, 17, 21, 1);
}

.card-body p {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 200;
    line-height: 15px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(27, 28, 33, 1);
}

.contact-us-section {
    padding: 100px 129px 100px 129px;
    background: rgba(247, 248, 250, 1);
}

.contact-us-title h5 {
    /* width: 300px;
    height: 48px; */
    font-family: 'Gilroy-Medium';
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(27, 28, 33, 1);
}

.contact-us-title p {
    /* width: 338px;
    height: 20px; */
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(27, 28, 33, 1);
}

.contact-us-title button {
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(0, 0, 0, 1) !important;
    width: 168px;
    height: 46px;
    padding: 13px 40px 13px 19px;
    border-radius: 10px;
}

.contact-us-title input {
    border-radius: 10px !important;
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25) !important;

}

.contact-us-title textarea {
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25) !important;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;

}

.copy-right {
    height: 36px;
    /* padding-left: 50px; */
    margin-bottom: 50px;

}

.copy-right p {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.copy-right hr {
    height: 0.5px;
    color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);

}

.center-navbar {
    justify-content: center;
}
