body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(140, 148, 155);
}

/* Vùng css main web page */

.cart-ordering-page {
    background: rgba(26, 192, 115, 1);
    padding-top: 20px;
    width: 1440px;
    padding-right: 0 !important;
    padding-left: 0 !important;

}

a.navbar-brand {
    font-family: 'Squada One', sans-serif !important;
    font-size: 32px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1) !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

ul.navbar-nav a.nav-link {
    font-family: 'ABeeZee';
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1) !important;
}

.hero-display-cooking-man {
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 130px;
}

.hero-display-cooking-man h2 {
    /* width: 534px; */
    /* height: 147px; */
    font-family: 'ABeeZee';
    font-size: 70px;
    font-style: italic;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.hero-display-cooking-man p {
    /* width: 441px; */
    /* height: 40px; */
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    margin-bottom: 40px;
}

div.input-group>input[type="text"] {
    height: 58px;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
}

div.input-group-append>button[type="button"] {
    height: 58px;
    width: 112px;
    padding: 19px, 29px, 19px, 29px;
    border-radius: 0px 10px 10px 0px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

div.row input.form-control::placeholder {
    font-family: 'ABeeZee', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    align-items: center;
    color: #929292;
}

.cart-kitchen-section {
    background: #FFFFFF;
    padding-top: 105px;

}

.cart-kitchen-section-bar {
    background: #F6F7F8;
    height: 82.63px;
    opacity: 0.5px;

}

.container a:nth-child(1),
.container a:nth-child(3) {
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #1AC073;
}

.container a:nth-child(5) {
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #262626;
}

.div-remove-item button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
    text-decoration: underline;
    color: #F20505;
}

.button-qty button {
    background: #F6F7F8;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #1AC073;
}

.button-qty input {
    background: #F6F7F8;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    border: none;
}

.th-text-modify {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    vertical-align: middle;
}

.input-group-sm>.form-control {
    max-width: 60px;
}

.div-remove-item {
    text-align: center;
    margin-top: 10px;
}

.product-description p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #929292;
}

.product-description h4 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #262626;
}

.btn-custom-checkout {
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #0000004D;
    background: #1AC073;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.product-image img {
    margin-right: 10px;
}

/* Line table màu sắc nhạt */
#product-table-cart-info td,
#product-table-cart-info th {
    border: none !important;
    border-bottom: 3px solid #F6F7F8 !important;
}

/* Line table màu sắc nhạt */
#product-table-cart-info th {
    border-top: 3px solid #F6F7F8 !important;
}

.btn-custom-redeem {
    background: #1AC073;
    font-family: 'Lexend Deca' !important;
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    border-top: 3px solid #f0f0f0 !important;
    border-bottom: 3px solid #f0f0f0 !important;
    border-right: 3px solid #f0f0f0 !important;
    border-left: none !important;
}

.custom-input-voucher {
    border-top: 3px solid #f0f0f0 !important;
    border-bottom: 3px solid #f0f0f0 !important;
    border-left: 3px solid #f0f0f0 !important;
    border-right: none !important;

}

.custom-input-voucher::placeholder {
    font-family: 'Lexend Deca' !important;
    font-size: 20px;
    font-weight: 400 !important;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #aca7a7 !important;
}

.copy-right {
    height: 36px;
    /* padding-left: 50px; */
    margin-bottom: 50px;

}

.copy-right p {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.copy-right hr {
    height: 0.5px;
    color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);

}

.center-navbar {
    justify-content: center;
}

.custom-row {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    height: 70px;
}

.custom-row-total {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    height: 100px;
}

.custom-table tbody td {
    border-top: none !important;
    border-bottom: none !important;
}

.custom-table tbody tr.custom-row-total {
    border-top: 3px solid #f0f0f0 !important;
}

.custom-table tr.custom-row-total td {
    vertical-align: bottom;
    /* Căn chỉnh văn bản về phía dưới */
}

/* CSS cho màn hình vi tính */
#product-table-cart-info {
    font-size: 16px;
    width: 100%;
    table-layout: auto;
    /* Cho phép bảng co giãn theo nội dung */
}

#product-table-cart-info td,
#product-table-cart-info th {
    padding: 15px;
}

/* CSS cho điện thoại di động */
@media screen and (max-width: 767px) {
    #product-table-cart-info {
        font-size: 12px;
        width: 100% !important;
        /* Đặt chiều rộng tối đa là 100% */
        margin: 0 auto;
        overflow-x: auto;
        /* Thêm thanh cuộn nếu nội dung vượt quá chiều rộng màn hình */
        table-layout: auto;
        /* Cho phép bảng co giãn theo nội dung */
    }

    #product-table-cart-info td,
    #product-table-cart-info th {
        padding: 10px;
    }
}

/* Vùng css Modals */

#modal-payment .modal-dialog {
    max-width: 1021px;
    margin: 30px auto;
    border-radius: 10px;
}

#modal-payment .modal-content {
    border-radius: 10px;
    height: 850px;
    background: #FFFFFF;
}

#modal-payment .btn-close {
    cursor: pointer;
    animation-duration: 0ms;
}

#modal-payment .modal-body {
    display: flex;
    padding: 88px;
}

.form-check-input {
    width: 24px;
    height: 24px;
}

.step-2 {
    height: 40px;
    width: 40px;
    background-color: #DFDEDE;
    border: none;
    border-radius: 50%;
    display: flex;
    opacity: 0.5;
    box-shadow: 0px 10px 40px 0px #F8A17033;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.step-1 {
    height: 40px;
    width: 40px;
    background-color: #1AC073;
    border: none;
    border-radius: 50%;
    display: flex;
    box-shadow: 0px 10px 40px 0px #F8A17033;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.span-line {
    width: 24px;
    border: 3px solid #DFDEDE;

}

.div-method-payment h5 {
    color: #1AC073;
    /* Adjust font size of h4 to h5 */
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.table-hover tbody tr:hover {
    background-color: #F0FAF7;
    /* Change color when hovering over a row */
}

.payment-option input[type="checkbox"] {
    appearance: none;
    background: #FFFFFF;
    border: 1px solid #DFDEDE;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.payment-option input[type="checkbox"]:checked:after {
    content: '\2714';
    /* Unicode for tick mark */
    position: absolute;
    top: 0;
    left: 3px;
    color: white;
    font-size: 14px;
}

.payment-option input[type="checkbox"]:checked~label {
    color: #1AC073;
    /* Change color of label when checkbox is checked */
}

.payment-option input[type="checkbox"]:checked~i {
    color: #1AC073;
    /* Change color of icon when checkbox is checked */
}

.modal-header h5 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: #1AC073;
}

.go-to-payment button {
    width: 338px;
    height: 70px;

    border-radius: 10px;
    background: #1AC073;
    font-family: 'Lexend Deca';
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 10px 40px 0px #F8A17033;
}

.input-no-border {
    height: 50px;
    border: none;
    background: #DFDEDE;
    border-radius: 10px;

}

input::placeholder {
    color: #999999 !important;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;

}

textarea::placeholder {
    color: #999999 !important;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
}

.form-check-label {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #223263;
}

/* Unicode for tick mark */

#modal-payment-completed .modal-dialog {
    max-width: 1021px;
    margin: 30px auto;
    border-radius: 10px;
}

#modal-payment-completed .modal-content {
    border-radius: 10px;
    height: 850px;
    background: #FFFFFF;
}

#modal-payment-completed .btn-close {
    cursor: pointer;
    animation-duration: 0ms;
}

#modal-payment-completed .modal-body {
    display: flex;
    padding: 88px;
}

.step-completed {
    height: 40px;
    width: 40px;
    background-color: #1AC073;
    border: none;
    border-radius: 50%;
    display: flex;
    box-shadow: 0px 10px 40px 0px #F8A17033;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.span-line-completed {
    width: 24px;
    border: 3px solid #1AC073;

}

.div-p-success {
    font-family: 'Lexend Deca';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #223263;

}